@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
  margin: 0;
}

.myFont {
  font-family: 'Playfair Display', serif;
  color: #494949;
  font-size: 1.1125rem;
}

.myFontSmall {
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  font-size: .75rem;
}

#backgroundimage1 {
  background: url(Image/underwaterdarker.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  background-position: center;
}

/* #backgroundimage2 {
  background: lightpink; 
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
} */

#backgroundimage3 {
  background: url(Image/sanddarker.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}

/* background  */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Using_multiple_backgrounds */


/*Regel verstärkt sich durch Body plus Klasse*/
body .btn {
  border: none !important;
}

/* @font-face {
  font-family: font_sansserif;
  src: url(font1/static/Figtree-Light.ttf);
  font-weight: lighter;
} */

/* @media only screen and (max-width: 600px) {
  .material-symbols-outlined {
    display: none;
  }
} */

/* header */
/* #header {
  font-family: font_sansserif;
} */

.navbar {
  background-color: #041c2c;
  text-align: center;
  top: 20;
  margin: 0;
  padding: 9px 0;
  font-size: 11px;
  letter-spacing: .053125em;
}

.desktopBtn {
  display: none;
}





/* https://stackoverflow.com/questions/27973549/bootstrap-dropdown-move-other-content */
/* https://getbootstrap.com/docs/5.0/layout/columns/#offset-classes */
/* .container .dropdown-menu {
 position: static;
 float: none;
} */

.dropdown-content {
  border: none !important;
  font-size: 0.9rem !important;
}

ul {
  list-style-type: none;
}

/* svg von sconnencreme */
#suncreen {
  width: auto !important;
  height: 350px !important;
}

.sunscreen4 {
  width: auto;
  height: 150px;
}

.action-btn {
  background-color: rgb(163, 200, 213) !important;
  /* padding: 10px 20px 10px 20px !important; */
  font-size: 0.8rem !important;
}

/* .button-border {
  border: #041c2c !important;
} */

.fiji-logo,
.material-symbols-outlined {
  height: 60px;
  font-size: 40px !important;
  color: aliceblue;
}

.navbar .container-fluid {
  flex-direction: column;
}

.style1 {
  position: relative;
  top: -30px;
}

.align-items-center {
  display: flex;
  align-items: center;
  /*Aligns vertically center */
  justify-content: center;
  /*Aligns horizontally center */
}

/* Button page 1, on dark background */
.myButton {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 20px;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton::after {
  content: "SEE THE CAMPAIGN";
  font-size: 13px;
  padding: 10px;
  /*war 5px*/
  right: 5px;
  left: 5px;
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
}

.myButton::before {
  background-color: #00bfd6;
  border: 1px solid #fff;
}

/* Button page 2, on light background */
.myButton2 {
  z-index: 0;
  border: 1px solid #000;
  padding: 5px;
  position: relative;
  background: none;
}

.myButton2::after {
  content: "ADD TO CART";
  font-size: 13px;
  padding: 18px 20px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton2:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
}






.myAnimation {
  width: 250px;
}







#navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} */

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.navSticky {
  position: -webkit-sticky;
  /*Safari*/
  position: sticky;
  top: 0;
}

/* Schließen Button Off canvas */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  /* margin-right: 50px; */
  width: 20px;
  height: 20px;
  color: #041c2c;
}

#navbar {
  transition: margin-right .5s;
  padding: 16px;
}

#mysidenav {
  text-align: center;
}

/* body */

/* footer */

.fiji-logo-4 {
  width: 100px !important;
}

.footerBnt {
  /* overflow: hidden !important; */
  /* white-Space: nowrap !important; */
  /* padding-Right: 12px !important; Optional For caret */
  /* text-align: Right !important; */
  /* text-overflow: ellipsis !important;     */
  width: 100%;
  border-color: transparent;
  background-color: #f2f2f2;
}

/* Optional For caret */
.footerBnt .caret {
  position: absolute;
  Right: 6px;
  top: calc(50% - 2px);
}

/* .customdropdown {
width: 44.5% !important;
max-width: 350px !important;
Right: 3% !important;
} */

.footerDropBtn,
.canvaDropBtn {
  position: relative !important;
  transform: none !important;
  background-color: #f2f2f2 !important;

}

.footerBnt {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  padding: 22px 0;
}

.footerBtnLast {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

.myDropBtn,
.desktopBtn,
.mail {
  color: #000;
  text-decoration: none;
}

.IconGIF {
  width: 150px;
}

/* body{width:100%;} */
/* ul {width:100%; list-style:none;} */
/* ul li {float:left; width:150px; font-weight:bold;} */
/* ul li ul {padding:0;} */
/* ul li ul li {float:none; padding:5px 0; font-weight:normal;} */

#page4 {
  background-color: #f2f2f2;
}





/* DESKTOP */
/* Page 1 */

@media only screen and (min-width: 992px) {
  .noDesktopBtn {
    display: none;
  }

  .desktopBtn {
    display: block;
  }

  #suncreen {
    /* display: none; */
    /* width: auto !important; */
    height: 600px !important;
  }

  .page1Text {
    display: none;
  }

  .square {
    height: 400px;
    width: 500px;
    background-color: rgba(4, 28, 44, .6);
    backdrop-filter: blur(10px);
    top: 230px;
  }

  /* page 2 */

  #page2 {
    /* background-color: #3881EF; */
    /* Rectangle 9 */
    /* position: absolute; */
    width: 984px; 
    /* dann auto bei width */
    height: 770px;
    background: linear-gradient(180deg, #3881EF 0%, #1E3EAE 47.92%, #020D44 100%);
  }
}

/* Page 2 */
.square2 {
  height: 610px;
  width: 420px;
  background-color: rgba(4, 28, 44);
  /* backdrop-filter: blur(10px); */
  /* top: 230px; */
}

#hrPage2 {
  color: #3881EF;
  width: 360px;
  margin: auto;
  height: 15px;
}

/* Buttons on Page 2 Desktop */
.myButton3 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 20px;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton3::after {
  content: "SHOP NOW";
  font-size: 13px;
  padding: 18px 20px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton3:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
}

.myButton4 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 20px;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton4::after {
  content: "ADD TO CART";
  color: #fff;
  font-size: 13px;
  padding: 18px 20px;
  /* right: 5px;
  left: 5px; */
  /* background-color: #a3c8d5; */
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton4:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}

/* .myButton4:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
} */


/* Page 4 */

.keinpadding {
  padding: 0px !important;
}

.font9 {
  font-size: 9px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
  color: #041c2c;
}

#footerDiv {
  width: 450px;
}

.footerIcon {
  width: 20px;
}

#internationalForm {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
}

#newsletterForm {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
  padding-left: 200px;
}

#newsletterBtn {
  border: none;
  padding-right: 100px;

}






/* TABLET */
/* Page 1 */

@media only screen and (min-width: 768px) {}