@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

/* Animation  */
.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animate-second {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  animation-delay: 700ms;
}

.animate-third {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -o-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.animate-fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

body .maxwidth {
  max-width: 100%;
}

.myFontSmall {
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  font-size: .75rem;
}

.myFontSansSmall {
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  font-size: 16px;
}

.myFont {
  font-family: 'Playfair Display', serif;
  color: #494949;
  font-size: 1.1125rem;
}

.myFontPage1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.myFontMiddle {
  font-family: 'Playfair Display', serif;
  color: #020D44;
  font-size: 36px;
}

.myFontBig {
  font-family: 'Playfair Display', serif;
  color: #020D44;
  font-size: 48px;
}

#logoBlack {
  width: 60px;
}

.menuIcon {
  padding-left: 20px;
  padding-top: 10px;
}

.cartIcon {
  padding-right: 20px;
  padding-top: 10px;
}

#backgroundimage1 {
  background: url(Image/Background6.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#backgroundimage3 {
  background: url(Image/sanddarker2.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  background-position: center;
}

body .btn {
  border: none !important;
}

.navbar {
  background-color: #041c2c;
  text-align: center;
  top: 20;
  margin: 0;
  padding: 9px 0;
  font-size: 11px;
  letter-spacing: .053125em;
}

.desktopBtn {
  display: none;
}

.tabletElement {
  display: none;
}

.dropdown-content {
  border: none !important;
  font-size: 0.9rem !important;
}

ul {
  list-style-type: none;
}

/* svg von sconnencreme */
#suncreen {
  width: auto !important;
  height: 250px !important;
  top: 360px;
}

/* Desktop  */
#suncreenDesktop {
  width: auto !important;
  height: 630px !important;
  top: 75px
}

.sunscreen4 {
  width: auto;
  height: 150px;
}

.action-btn {
  background-color: rgb(163, 200, 213) !important;
  /* padding: 10px 20px 10px 20px !important; */
  font-size: 0.8rem !important;
}

/* .button-border {
  border: #041c2c !important;
} */

.fiji-logo,
.material-symbols-outlined {
  height: 50px;
  font-size: 30px !important;
  color: white;

}

.navbar .container-fluid {
  flex-direction: column;
}

.style1 {
  position: relative;
  top: -30px;
}

.align-items-center {
  display: flex;
  align-items: center;
  /*Aligns vertically center */
  justify-content: center;
  /*Aligns horizontally center */
}

/* Button page 1, on dark background */
.myButton {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 0;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton::after {
  content: "SEE THE CAMPAIGN";
  font-size: 13px;
  padding: 15px 68px;
  /*war 5px*/
  right: 5px;
  left: 5px;
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  /* Grund für die anzeige in offcanvas */
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton:hover::after {
  background-color: #00bfd6;
}

.myButton:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}


/* .myButton::before {
  background-color: #00bfd6;
  border: 1px solid #fff;
} */

/* Button page 2, on light background */
.biggerButton {
  width: 80% !important;
}


.myButton2 {
  z-index: 0;
  border: 1px solid #000;
  padding: 18px 5px;
  position: relative;
  background: none;
}

.myButton2::after {
  content: "ADD TO CART";
  font-size: 13px;
  padding: 15px 29px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton2:hover::after {
  background-color: #00bfd6;
}

.myButton2:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
}

/* button page 1 smartphone  */
.myButton6 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 4px;
  position: relative;
  background: none;
  top: 270px;
}

.myButton6::after {
  content: "SEE THE CAMPAIGN";
  font-size: 13px;
  padding: 15px 25px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton6:hover::after {
  background-color: #00bfd6;
}

.myButton6:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}

/* .myButton6:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
} */




.myAnimation {
  width: 250px;
}







#navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} */

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

#stickyLogo {
  top: 40px
}

.navSticky {
  position: -webkit-sticky;
  /*Safari*/
  position: sticky;
  top: 0;
  z-index: 1000000;
  /*Herausfinden wie hoch z-index*/
}

.sticky {
  /* Das vielleicht nicht, wenn es da ist, ist es immer da, wenn nicht, verschwindet es */
  position: fixed;
  max-width: 100% !important;
  z-index: 1000000;
  /*Herausfinden wie hoch z-index*/
}

.sticky:hover {
  background-color: #041c2c !important;
}

.alignmentNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnNavWhite {
  color: #fff !important;
}

.bgcolor.scrolled {
  background-color: #3881EF !important;
}

/* Schließen Button Off canvas */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  /* margin-right: 50px; */
  width: 20px;
  height: 20px;
  color: #041c2c;
}

#navbar {
  transition: margin-right .5s;
  padding: 16px;
}

#mysidenav {
  text-align: center;
}

/* Underline Effect */
.underline {
  color: #fff;
  /* text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em; */

  /* display: inline-block; */
  /* padding: 15px 20px; */
  position: relative;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #00bfd6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

/* body */

/* footer */

.fiji-logo-4 {
  width: 100px !important;
}

.fiji-logo-5 {
  width: 70px !important;
  position: fixed;
}

.footerBnt {
  /* overflow: hidden !important; */
  /* white-Space: nowrap !important; */
  /* padding-Right: 12px !important; Optional For caret */
  /* text-align: Right !important; */
  /* text-overflow: ellipsis !important;     */
  width: 100%;
  border-color: transparent;
  background-color: #f2f2f2;
}

/* Optional For caret */
.footerBnt .caret {
  position: absolute;
  Right: 6px;
  top: calc(50% - 2px);
}

/* .customdropdown {
width: 44.5% !important;
max-width: 350px !important;
Right: 3% !important;
} */

.footerDropBtn,
.canvaDropBtn {
  position: relative !important;
  transform: none !important;
}

.footerDropBtn {
  background-color: #f2f2f2 !important;
}


.footerBnt {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  padding: 22px 0;
}

.footerBtnLast {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

.myDropBtn,
.desktopBtn,
.mail {
  color: #000;
  text-decoration: none;
}

/* body{width:100%;} */
/* ul {width:100%; list-style:none;} */
/* ul li {float:left; width:150px; font-weight:bold;} */
/* ul li ul {padding:0;} */
/* ul li ul li {float:none; padding:5px 0; font-weight:normal;} */

#page4 {
  background-color: #f2f2f2;
}

.iconGIF {
  width: 70%;
}




/* DESKTOP */
/* Page 1 */

@media only screen and (min-width: 992px) {
  .tabletElement {
    display: none;
  }

  .noDesktopBtn {
    display: none;
  }

  .desktopBtn {
    display: block;
  }

  #suncreen {
    /* display: none; */
    /* width: auto !important; */
    height: 330px !important;
  }

  .page1Text {
    display: none;
  }

  .square {
    height: 460px;
    width: 700px;
    background-color: rgba(4, 28, 44, .6);
    backdrop-filter: blur(10px);
    top: 250px;
  }

  /* page 2 */

  #page2 {
    /* background-color: #3881EF; */
    /* Rectangle 9 */
    /* position: absolute; */
    width: 100%;
    /* dann auto bei width */
    height: 770px;
    background: linear-gradient(180deg, #3881EF 0%, #1E3EAE 47.92%, #020D44 100%);
  }

}

.btn-close {
  position: absolute;
  display: inline-block;
  top: 22px;
  right: 22px;
}

/* Page 2 */

.stack-top {
  z-index: 9;
}

/* carousel 2 */
/* .slide-container {
                                width: 100%;
                                height: 85vh;
                                display: flex;
                                align-items: center;
                                overflow: hidden;
                                
                            } */

.image-slider {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img {
  position: relative;
  width: 140px;
  height: 370px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 140px;
  height: 370px;
  transition: 0.5s;
}

#slider-span1:target~.image-slider #img1,
#slider-span1:target~.image-slider #button-1 {
  width: 180px;
  height: 450px;
}

#slider-span2:target~.image-slider #img2,
#slider-span2:target~.image-slider #button-2 {
  width: 180px;
  height: 450px;
}

#slider-span3:target~.image-slider #img3,
#slider-span3:target~.image-slider #button-3 {
  width: 180px;
  height: 450px;
}

#slider-span4:target~.image-slider #img4,
#slider-span4:target~.image-slider #button-4 {
  width: 180px;
  height: 450px;
}

#slider-span1:target~.image-slider {
  left: 20%;
}

#slider-span2:target~.image-slider {
  left: 0%;
}

#slider-span3:target~.image-slider {
  left: -20%;
}

#slider-span4:target~.image-slider {
  left: -40%;
}

/* Carousel 1 */
.carousel {
  width: inherit;
}

.carousel-item img {
  min-height: 400px;
}

.controlPrev {
  left: 110px !important;
  top: 450px !important;
}

.controlNext {
  right: 110px !important;
  top: 450px !important;
}

.square2 {
  height: 610px;
  width: 440px;
  background-color: rgba(4, 28, 44, .8);
  backdrop-filter: blur(10px);
  /* backdrop-filter: blur(10px); */
  /* top: 230px; */
}

#hrPage2 {
  color: #3881EF;
  width: 360px;
  margin: auto;
  height: 15px;
}

/* Buttons on Page 2 Desktop */
.myButton3 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 0;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton3::after {
  content: "SHOP NOW";
  font-size: 13px;
  padding: 13px 130px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton3:hover::after {
  background-color: #00bfd6;
}

.myButton3:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}

/* .myButton3:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
} */

.myButton4 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 20px;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton4::after {
  content: "ADD TO CART";
  color: #fff;
  font-size: 13px;
  padding: 18px 20px;
  /* right: 5px;
  left: 5px; */
  /* background-color: #a3c8d5; */
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
}

.myButton4:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}

/* .myButton4:focus {
  border: 1px solid #00bfd6;
  background: #00bfd6;
} */

/* Page 4 button  */
.myButton5 {
  z-index: 0;
  border: 1px solid #fff;
  padding: 18px 5px;
  /*war 5px*/
  position: relative;
  background: none;
}

.myButton5::after {
  content: "LEARN MORE";
  font-size: 13px;
  padding: 15px 53px;
  /* right: 5px;
  left: 5px; */
  background-color: #a3c8d5;
  width: -webkit-fill-available;
  z-index: 10000000000;
  box-sizing: border-box;
  color: #000;
}

.myButton5:hover::after {
  background-color: #00bfd6;
}

.myButton5:hover {
  background-color: #00bfd6;
  border-color: #00bfd6;
}


/* Page 4 */

.keinpadding {
  padding: 0px !important;
}

.font9 {
  font-size: 9px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
  color: #041c2c;
}

#footerDiv {
  width: 450px;
}

.footerIcon {
  width: 20px;
}

#internationalForm {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
}

#newsletterForm {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
}

#newsletterBtn {
  border: none;
}

.form-row {
  border-bottom: 1px solid black;
}

.form-row .newsletterBtn-holder {
  text-align: right;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

/* HEADER STICKY COLOR  */
/* see js */
.black {
  position: fixed;
  /* top:0;
  background:#333;
  width:100%;
  height:50px; */

}

/* .blue{
  position:fixed;
  top:0;
  background:blue;
  width:100%;
  height:50px;
} */


/* TABLET */
@media only screen and (min-width: 820px) {

  /* Page 1 */
  .noTabletElement {
    display: none;
  }

  .tabletElement {
    display: block;
  }

  /* .dddeede {
    display: none;
  } */

  /* .noDesktopBtn {
  display: none;
} */

  /* .squareTablet {
  height: 460px;
  width: 400px;
  background-color: rgba(4, 28, 44, .6);
  backdrop-filter: blur(10px);
  top: 250px;
} */

  #sunscreenTablet {
    width: auto !important;
    height: 300px !important;
    top: 30px;
  }

  .btnTablet {
    margin-top: 130px;
  }


  /* Page 2 */
  /* nichts */

  /* Page 3 */
  /* nichts wichtiges */

  /* Page 4 */
  /* nichts */
}